// Cores
$preto: #333;
$branco: #fff;
$laranja: tomato;
$azul-claro: #3C8DAD;
$azul-escuro: #125D98;

// Fontes
$conteudo-fonte: Arial, Helvetica, sans-serif;
$destaque-fonte: 'Staatliches', cursive;
$btn-portfolio-fonte: 'Montserrat', sans-serif;

// Btn-portfolio
.btn-portfolio {
    color: $branco;
    font-family: $btn-portfolio-fonte;
    margin-right: 15rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 1rem 3rem;
    padding-left: 2.2rem;
    border-radius: 1rem;
    width: 3rem;
    background: linear-gradient(50deg, $azul-escuro, $azul-claro);

    &:hover {
        border: 1px solid $branco;
    }
}

// texto em destaque

.text__bold {
    font-weight: bold;
}

// conteudo__titulo
.conteudo__titulo {
    color: $preto;
    width: 10%;
    font-weight: bold;
    line-height: 2;
    border-bottom: 4px solid $azul-escuro;
    font-size: 2rem;
    margin: 2rem 4rem;
    font-family: $btn-portfolio-fonte;
}

/*******************************************************************/

// Conteúdo

.conteudo {
    height: 130rem;
    font-family: $conteudo-fonte;
    margin-bottom: 2rem;

    &__tutoriais {
            height: 100%;

            &-container {
                display: flex;
                height: 90%;
                width: 100%;

                &-principal {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 65%;
                    margin-left: 1rem;
                    border-radius: 0.5rem;
                    background: rgba(0, 0, 0, 0.04);

                    .container-principal-img {
                        height: 25%;
                        width: 100%;
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                        background: linear-gradient(rgba(0,0,0,0.6), 
                        rgba(0,0,0,0.6)),url('../../img/assincrono__02.jpg')no-repeat center/cover; 
                    }

                    .container-principal-descricao {
                        height: 75%;
                        .descricao-titulo, .descricao-subtitulo {
                            margin: 2rem 0;
                            margin-left: 0.5rem;
                        }

                        .descricao-titulo {
                            font-size: 2rem;
                        }

                        .descricao-subtitulo {
                            font-size: 1.5rem;
                        }

                        .descricao-par {
                            margin: 0 1rem;
                            line-height: 1.6;
                        }

                        .descricao-bibliografia {
                            margin: 2rem 1rem;
                        }
                    }

                    .btn-tutoriais {
                        height: 3rem;
                        width: 10rem;
                        position: relative;
                        border-radius: 0.2rem;
                        display: flex;
                        text-decoration: none;
                        transition: .3s;
                        align-items: center;
                        justify-content: center;
                        color: $branco;
                        left: 45.5rem;
                        background: linear-gradient(50deg, $azul-escuro, $azul-claro);

                    }

                    .btn-tutoriais:hover {
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
    
                &-artigos {
                    display: flex;
                    flex-direction: column;
                    height: 35rem;
                    width: 30%;
                    margin-left: 2rem;
                    border-radius: 0.5rem;
                    background: rgba(0, 0, 0, 0.07);

                    .titulo-artigos {
                        margin: 2rem 0;
                        font-weight: bold;
                        font-family: $btn-portfolio-fonte;
                        font-size: 1.5rem;
                        text-align: center;
                        border-bottom: 4px solid $azul-escuro;
                        line-height: 1.6;
                        
                    }

                    .par-artigos {
                        margin: 0 2rem;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.5);
                        text-align: center;
                        line-height: 6;
                    }
                }
            }
    }
}