// Cores
$preto: #333;
$branco: #fff;
$laranja: tomato;
$azul-claro: #3C8DAD;
$azul-escuro: #125D98;
$color-email: rgba(0, 0, 0, 0.3);
$color-input: rgba(0, 0, 0, 0.03);

// Fontes
$conteudo-fonte: Arial, Helvetica, sans-serif;
$destaque-fonte: 'Staatliches', cursive;
$btn-portfolio-fonte: 'Montserrat', sans-serif;

// Btn-portfolio
.btn-contato {
    color: $branco;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    font-family: $btn-portfolio-fonte;
    margin-right: 15rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    height: 2rem;
    width: 97%;
    padding-left: 2.2rem;
    border-radius: 0.2rem;
    background: rgba(0, 0, 0, 0.3);

    &:hover {
        border: 1px solid $branco;
    }
}

// envelope icon

.envelope, .linkedin__contato, .github__contato {
    margin-top: 1rem;
    margin-right: 1rem;
    color: $color-email;
}


// conteudo__titulo
.conteudo__titulo {
    color: $preto;
    width: 10%;
    font-weight: bold;
    line-height: 2;
    border-bottom: 4px solid $azul-escuro;
    font-size: 2rem;
    margin: 2rem 4rem;
    font-family: $btn-portfolio-fonte;
}

/*******************************************************************/

// Conteúdo

.conteudo {
    height: 75rem;
    font-family: $conteudo-fonte;
    margin-bottom: 2rem;

    &__destaque {
        height: 32rem;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        align-items: center;
        background: linear-gradient(rgba(0,0,0,0.6), 
        rgba(0,0,0,0.6)),url('../../img/contato__04.jpg')no-repeat center/cover; 

        .destaque__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-titulo {
                color: $branco;
                font-size: 3rem;
                font-weight: bold;
                line-height: 1.3;
                margin: 0 auto;
                margin-bottom: 1rem;
                font-family: $destaque-fonte;
                width: 100%;
            }
        }
    }

    &__contato {
            height: 38rem;

        &-container {
            display: flex;
            margin: auto;
            height: 90%;
            width: 90%;
            border-radius: 0.5rem;
            background: rgba(0, 0, 0, 0.04);
        }
    
        &-descricao {
            display: flex;
            flex-direction: column;
            align-items: top;
            margin: 4rem 3rem;
            height: 25rem;
            width: 50%;
            border-radius: 1rem;
        }

        &-input {
            display: flex;
            flex-direction: column;
            width: 50%;
            font-size: 1.3rem;
            line-height: 1.6;
            margin: 4rem auto;
        }
    }
}

.ancora__email, .ancora__linkedin, .ancora__github {
    color: $color-email;
}

.input__contato-nome, .input__contato-email, .input__contato-textarea {
    margin-bottom: 2rem;
    margin-right: 1rem;
    background: $color-input;
    border-radius: 0.5rem;
    border:  1px solid $color-input;

    &:hover {
        border: 2px solid rgba(0, 0, 0, 0.1);
    }
}

.input__contato-nome, .input__contato-email {
    height: 2rem;
    width: 90%;
}
