// Cores
$preto: #333;
$branco: #fff;
$laranja: tomato;
$azul-claro: #3C8DAD;
$azul-escuro: #125D98;
.laranja {
    color: $laranja;
}

// Fontes
$conteudo-fonte: Arial, Helvetica, sans-serif;
$destaque-fonte: 'Staatliches', cursive;
$btn-portfolio-fonte: 'Montserrat', sans-serif;

.conteudo__obrigado {
    height: 20rem;
    display: flex;
    justify-content: center;
}

.conteudo__titulo-obrigado {
    color: $preto;
    width: 50%;
    font-weight: bold;
    line-height: 2;
    border-bottom: 4px solid $azul-escuro;
    font-size: 2rem;
    margin: 4rem 4rem;
    font-family: $btn-portfolio-fonte;
}